<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    {% load custom_filters %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <nav>
            <div class="logo-nav">
                <div class="logo"> 
                    <img src="{% static "assets/game-control.png" %}" alt="game-control">
                </div>
                |
                <div class="name-blog">Jonas blog</div>
            </div>

            <form action="#">
                <input type="text" placeholder="Subscribe to the newsletter" name="subscribe" id="subscribe">
                <input type="submit" id="submit" value="done" class="material-symbols-outlined">
               
            </form>
        </nav>
        
    </header>
    

    <main>
        
        <section class="posts">
            {% for article in page %}
            
            <div class="post">
                    <div class="imagem-post">
                        <img src="{{article.urlToImage}}" alt="{{article.source.name}}">
                    </div>

                    <div class="post-info">
                        <div>
                            <div class="resumo-post">
                                
                                <a href="#">
                                    <h2 class="post-titulo" >{{article.title}}</h2>
                                </a>  

                                <dialog>
                                    <section class="conteudo">
                                        <div class="autor">
                                            <button class="fechar">
                                                <img src="{% static "assets/icons8-excluir.svg" %}" alt="icons8-excluir">
                                            </button>
                                            <p>Postado por: <strong>{{article.author}} </strong></p>
                                        </div>
                                        <div class="conteudo-post">
                                            {{article.content }}
                                        </div>
                                    </section>
                                </dialog>
                                
                                {{article.description}}
                            </div>
                            <div class="info-post">
                                <div>
                                    <img src="{% static "assets/icons8-usuário-32.png" %}" alt="icons8-usuário-32">
                                    
                                    <p>{{article.author}}</p>
                                </div>
                                <div>
                                    <img src="{% static "assets/icons8-relógio-50.png" %}" alt="icons8-relógio-50"> 

                                    <p>{{ article.publishedAt|format_date }}</p>

                                </div>
                            </div>
                        </div>
                        
                    </div>

            </div>
            {% endfor %}
        </section>
        <div class="pagination">
            <span class="page-number">
                Página {{ page_number }} de 3
            </span>
            {% if page_number > 1 %}
                <a href="?page={{ page_number|add:-1 }}" class="prev">
                    Anterior
                </a>
            {% endif %}
            {% if page_number < 3 %}
                <a href="?page={{ page_number|add:+1 }}" class="next">
                    Próxima
                </a>
            {% endif %}
        </div>
    </main>

    <script src="{% static "js/script.js" %}"></script>
</body>
</html>